# توکن ربات تلگرام دریافتی از BotFather
TELEGRAM_BOT_TOKEN="8959183882:AAEBWzQYJgDgsSK8pqdKNSedJt5x-Lo3Xh0"

# شناسه عددی ادمین تلگرام
TELEGRAM_ADMIN_CHAT_ID="6728527154"

# پروکسی اتصال به تلگرام (در ویندوز یا سرورهای داخل کشور در صورت نیاز)
# مثال: http://127.0.0.1:10808 یا socks5://127.0.0.1:10808
TELEGRAM_PROXY="http://127.0.0.1:10808"

# پروکسی سامانه دانشگاه (فقط در صورتی که سرور شما خارج از ایران است و سامانه دانشگاه اینترنت خارج را مسدود کرده باشد)
IRAN_PROXY=""
